# YouTube Search Tool
google-api-python-client

# Traffic Fine Lookup Tool
aiohttp
redis
pillow
beautifulsoup4
google-genai
google-api-core
typing-extensions

# Telegram / Zalo Handle Tool
aiofiles
aiohttp
redis
